.emaillist {
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(232, 232, 232);
  border-top: 1px solid rgb(232, 232, 232);
}

.emaillist__title, .emaillist__content {
  color: #8a8a8a
}

.required.email {
  padding: 15px;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  margin-top: 15px;

  &:focus {
    outline: none;
    border-color: rgb(38, 38, 38);
  }
}
